@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: #8cd1df;
  --secondary-color: #ffcdab;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

h1,
h2 {
  line-height: 1.2;
}

img {
  width: 100%;
}

.text-primary {
  color: var(--primary-color);
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-color);
  color: #3f3f3f;
  margin-top: 0.625rem;
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: #74afbb;
  color: #333;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #ddb69d;
  color: #333;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

/* Header */
.hero .logo {
  font-size: 1.8rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 50px;
}

.navbar a {
  padding: 10px 20px;
  margin: 5px;
  transition: color 0.4s ease;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar ul {
  display: flex;
}

.hero {
  background: url(/img/beach.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 1rem;
}

.hero .content h1 {
  font-size: 4rem;
}

.hero .content p {
  font-size: 1.8rem;
  max-width: 600px;
  margin: 20px 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 1;
}

/* About Icons Section */
.icons {
  padding: 30px;
}

.icons h3 {
  margin-bottom: 1rem;
}

.icons i {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 10px 30px;
}
